doctype html
html
  head
      title Syntax Live
      meta(charset='utf-8')
      script(src='./slides.js')
      link(rel="stylesheet", href="./prism.css")
      //- script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")
      link(href='./styles.styl'  rel='stylesheet' type='text/css')
      style.
        .grid { display: grid !important; grid-gap: 20px }
        .grid .item { color: black; }
        style { display: inline-grid !important; }
  body
    section.slides.layout-regular.template-default

      article.first
        img(src="https://syntaxfm.github.io/brand/Syntax%20Wordmark%20Stacked%20-%20yellow.svg")
        p.sub Live &amp; In Person!
      article
        h1: mark Hasty Treats™
        p.sub Mondays
      article
        h1: mark Tasty Treats™
        p.sub Wednesdays
      article
        h1: mark Supper Club™
        p.sub Fridays (NEW!)
      article
        h1: mark Hi, I&apos;m Scott Tolinski
        p.sub Denver, Co 🇺🇸
        p.sub @stolinski Tweet and Gram
      article
        h1: mark Hi, I&apos;m<br>Wes Bos
        p.sub Hamilton, On 🇨🇦
        p.sub @wesbos Tweet and Gram
      article
        h1 Today is a Live Podcast!
      article
        h1 The Plan For Today
      article
        ul.build
          li JavaScript Hot Take Tweets
          li Kickin' it Old School
          li Syntax Error
          li JS or Nay-S?
          li Q + EH with Scott and Wes

      article
        img(width="400" src="./images/sick-qr.png")
        h1 Q+EH - Coming up!
        h2.skew: a(href="https://pigeonhole.at/SICK" target="_blank") pigeonhole.at/SICK

      //- HOT TAKE TWEETS
      article
        h1 Hot Take Tweets
      - const ids = ['1520075743279017984', '1520080208363241472', '1520092091828813832', '1520076284549906432', '1520075681094381573', '1520076276006256641', '1520076916358795264', '1520076722615463936', '1520076926039343106', '1520087085889249281', '1520108075486699521', '1520082336263585793', '1520080730126229510', '1520094433387155459', '', '1520124419812823040', '1520085094274408448', '1520079077390041088']

      for id in ids
        article
          h2 Loading tweet
          iframe(src=`https://platform.twitter.com/embed/index.html?dnt=true&embedId=twitter-widget-0&frame=false&hideCard=false&hideThread=true&id=${id}&lang=en&origin=http%3A%2F%2Flocalhost%3A1234%2F%2322&theme=light&widgetsVersion=ed20a2b%3A1601588405575&width=550px`)

      article
        h1 Kickin' it Old School

      article
        img(src="./images/jQuery.png")

      article
        img(src="./images/zoom.png")

      article
        h2 PNG Fix
        img(width="1500" src="./images/pngfix.png")

      article
        img(src="./images/swap-image.png")

      article
        h2 What is this Technique?
        img(src="./images/sliding-doors.png")

      article
        img(src="./images/that.png")

      article
        img(src="./images/ie.png")

      article
        img(src="./images/opera.png")

      article
        img(src="./images/bang.png")



      //- Syntax Error
      article
        h1 Syntax Error
        p We show each other code with no syntax highlighting, and the other person must find out what is wrong with it.

      article
        h3 For Wes:
        img(src="./images/scotts-q.png")

      article
        h3 For Scott:
        img(src="./images/wes2.png")

      article
        h3 For Wes:
        img(src="./images/scott3.png")

      article
        h3 For Scott:
        img(src="./images/wes-issue-2.png")

      article
        h3 For Wes:
        img(src="./images/S3.png")

      article
        h3 For Scott:
        img(src="./images/react-list.png")

      //- JS OR NAY S
      article
        h1 JS or NAYS
        img(width="400" src="./images/sick-qr.png")
        h1.medium.white PigeonHole.at/SICK

      article
        h2 <mark>We</mark><br>give you the name of a possible web development library or framework
        br
        h2 <mark>You</mark><br>vote on if we are pulling your leg or not.
        h2.medium.white PigeonHole.at/SICK

      //- QA
      article
        img(src="./images/qr.png")
        h1 Q+EH
        h2.skew: a(href="https://pigeonhole.at/TASTY" target="_blank") pigeonhole.at/TASTY
      article
        h1 Thank You!
        p.sub 😘😘😘😘😘😘😘😘

