doctype html
html
  head
      title Syntax Live
      meta(charset='utf-8')
      script(src='slides.js')
      //- link(rel="stylesheet", href="./grid-styles.css")
      link(rel="stylesheet", href="./prism.css")

      link(href='styles.css'  rel='stylesheet' type='text/css')
      style.
        .grid { display: grid !important; grid-gap: 20px }
        .grid .item { color: black; }
        style { display: inline-grid !important; }
    body
      section.slides.layout-regular.template-default

        article.first
          img(src="https://syntax.fm/static/logo.png")
          p.sub Live & In Person
        article
          h1: mark Hasty Treats™
          p.sub Mondays
        article
          h1: mark Tasty Treats™
          p.sub Wednesdays
        article
          h1: mark Hi, I&apos;m Scott Tolinkski
          p.sub Denver, Co 🇺🇸
          p.sub @stolinski Tweet and Gram
        article
          h1: mark Hi, I&apos;m<br>Wes Bos
          p.sub Hamilton, On 🇨🇦
          p.sub @wesbos Tweet and Gram
        article
          h1 Who invited these guys?!
        article
          h1 Today's Episode is Sponsored by Netlify!
          p.sub We're at JamStack Conf!
        article
          h1 The Plan For Today
        article
          h1 Goof Around for 1 hour
        article
          ul.build
            li Spicy Jam Tips
            li Game: This, That or Both?
            li Stump’d Interview Questions
            li Overrated or Underrated?
            li Q + EH with Scott and Wes



        article
          h1 Spicy JAM Tips
          p.sub Some Hot Tips for getting started with JAMStack
        article
          h2 Set Auth Tokens by default
          img.wide(src="http://wes.io/cc52952625e0/content")
        article
          h1.medium Don’t get hung up on <mark>static</mark><br> Static sites can be as <mark>dynamic</mark> as needed.
        article
          h1 Don’t wait to use new tech
          p.sub Progressively Enhance and Gracefully Degrade where needed!
        article
          h1 There are many JAMStack libraries in the sea.
          p.sub There are a ton of different approaches and interesting ideas, so try out others!
        article
          h1 Side Projects!
          p.sub Key to learning - It can be intimidating to use new tech on a huge project - test it out on smaller projects first and get comfortable with it

        article
          p.sub Now it's time for...
          h1 This, That<br>or Both?

        article
          h2 <mark>We</mark><br>give you the name of a possible web development library or framework
          br
          br
          br
          h2 <mark>You</mark><br>vote on if we are pulling your leg or not.
        article
          h1 World Wide Web:
          h1.medium.white PigeonHole.at/TASTY

        article
          h3(style="position: absolute;bottom: 0px; right:0; line-height: 20px; padding: 20px; color: white; background: black; font-size: 40px;" ) PigeonHole.at/TASTY
          iframe(src="https://pigeonhole.at/p/171294")
        article
          h1 STUMP'D
          p.sub Answer a question, get a prize!

        article
          h1: mark Q #1
        article
          img.wide(src="http://wes.io/417c1e1a2f35/content")
        article
          img.wide(src="http://wes.io/417c1e1a2f35/content")
          h1: mark 13

        article
          h1: mark Q #2
        article
          h1 Name all 7 Types in JavaScript
        article
          ul.build
            li Boolean
            li Null
            li Undefined
            li Number
            li String
            li Object
            li Symbol

        article
          h1: mark Q #3
        article
          h1 Pronounce "Specificity"
        article
          h1: mark Q #4
        article
          h1.medium What is Event Delegation and when might you want to use it?
        article
          h1: mark Q #5
        article
          h1.medium What is CSS <code>@supports</code> for?
        article
          h1: mark Q #6
        article
          img.wide(src="http://wes.io/c7297d238ee2/content")
        article
          img.wide(src="http://wes.io/4e7a279bd97c/content")
        article
          h1: mark Q #7
        article
          p What is the difference between<br><code>.slice()</code> and <code>.splice()</code> ?
        article
          p Splice will remove, or Mutate, items from the original Array while slice wil just return a subset of the original array leaving it intact.
        article
          h1: mark Q #8
        article
          p How would you calculate the number of milliseconds since midnight of January 1, 1970?
        article
          h1: code Date.now()
        article
          h1: mark Q #9
        article
          img(src="http://wes.io/d612488c2497/content")

        article
          h1 Underrated <br>or<br>Overrated?

        article
          h1 Arrow Functions
        article
          h1 Downtown scooters
        article
          h1 Using Sass inside Styled Components
        article
          h1 Website that play sound in the interface
        article
          h1 Stress over new JS frameworks
        article
          h1 GraphQL
        article
          h1 ES6 Destructuring
        article
          h1 CSS Houdini
        article
          h1 Service Workers and Offline Applications
        article
          h1 Optional Chaining Proposal
          p.sub people.wes?.names?.getLastName?()
        article
          h1 Q+EH with Scott and Wes
          p.sub Submit a Q at<br><br>pigeonhole.at/TASTY
          br
          p.sub Or Ask Out Loud!
        article
          h1 Thank You!
          p.sub 😘😘😘😘😘😘😘😘

