doctype html
html
  head
      title Syntax Live
      meta(charset='utf-8')
      script(src='./slides.js')
      script(src='./clickme.js' type="module")
      link(rel="stylesheet", href="./prism.css")
      link(href='./styles.styl'  rel='stylesheet' type='text/css')
  body

    section.slides.layout-regular.template-default
      article.first
        img(width="800" src="https://syntaxfm.github.io/brand/Syntax%20Wordmark%20Stacked%20-%20yellow.svg")
        img(src="./images/sentry.svg")
      article
        h1: mark Hi, I&apos;m Scott Tolinski
        p.sub Denver, Co 🇺🇸
        p.sub @stolinski 𝕏 and Gram
      article
        h1: mark Hi, I&apos;m<br>Wes Bos
        p.sub Hamilton, On 🇨🇦
        p.sub @wesbos 𝕏 and Gram
      article
        img(src="./images/everyone.png")
      article
        h1: mark Hasty Treats™
        p.sub Mondays
      article
        h1: mark Tasty Treats™
        p.sub Wednesdays
      article
        h1: mark Supper Club™
        p.sub Fridays
      article
        h1 Today is a Live Podcast!
      article
        h1 The Plan For Today
      article
        ul.build
          li Map / filter / Reduce
          li Syntax Error
          li JS or Nay-S
          li Audience Stump'd
          li Q + EH

      article
        img(width="400" src="./images/sick-qr.png")
        h1 Q+EH-Coming up!
        h2.skew: a(href="https://pigeonhole.at/SICK" target="_blank") pigeonhole.at/SICK

      //- Syntax Error
      article
        h2 .map()<br>.filter()<br>.reduce()
        p.balance We give each other a chained map/filter/reduce, and the other person must find out what the output is.

      article
        p.small For Scott
        label
          input(type="checkbox")
          img.blur(src="./images/reduce-wes.png")

      article
        p.small Answer
        label
          input(type="checkbox")
          img.blur(src="./images/map-answer-wes.png")

      article
        p.small For Wes
        label
          input(type="checkbox")
          img.blur(src="./images/syntax_reduce.png")

      article
        p.small Answer
        label
          input(type="checkbox")
          img.blur(src="./images/scott_reduce_answer.png")

      article
        h1 Syntax Error
        p We show each other code with no syntax highlighting, and the other person must find out what is wrong with it.
        p Can be Syntax or Logic errors.

      article
        h3 For Scott:
        img(src="./images/syntax-error-wes1.png")
      article
        h3 For Wes:
        img(src="./images/syntax_error_scott.png")
      article
        h3 For Scott:
        img(src="./images/syntax-error-wes2.png")
      article
        h3 For Wes:
        img(src="./images/syntax_error_scott2.png")
      article
        h3 For Scott:
        img(src="./images/syntax-error-wes3.png")
      article
        h3 For Wes:
        img(src="./images/syntax_error_scott3.png")

      //- JS OR NAY S
      article
        h1 JS or NAYS
        img(width="400" src="./images/sick-qr.png")
        h1.medium.white PigeonHole.at/SICK

      article
        h2 <mark>We</mark><br>give you the name of a possible web development library or framework
        br
        h2 <mark>You</mark><br>vote on if we are pulling your leg or not.
        h2.medium.white PigeonHole.at/SICK

      article
        h1 Headless Layout
        p Scott and Wes try to replicate a complex CSS Layout without seeing the browser. Output is projected on the screen for Audience.  They switch every 30 seconds.

      article
        h1 Audience Stump’d
        p Come on up and get a trivia question!

      article
        p <mark>Q</mark> On a blank HTML page, the body element has what default spacing property and value applied to it?
        .build
          li <mark>A</mark> Body has an 8px margin

      article
        p <mark>Q</mark> React DOM's useFormState was recently replaced with what hook for working with server components?
        .build
          li <mark>A:</mark> useActionState
      article
        p <mark>Q</mark> What are the three valid options for a &lt;form method="<mark>???</mark>"&gt;?
        ul.build(style="margin:0;")
          li <mark>A</mark>
          li GET
          li POST
          li DIALOG

      article
        p <mark>Q</mark> Name 8 reserved words in JavaScript
        ul.build(style="margin:0;")
          li.bubbles <span>abstract</span> <span>arguments</span> <span>await</span> <span>boolean</span> <span>break</span> <span>byte</span> <span>case</span> <span>catch</span> <span>char</span> <span>class</span> <span>const</span> <span>continue</span> <span>debugger</span> <span>default</span> <span>delete</span> <span>do</span> <span>double</span> <span>else</span> <span>enum</span> <span>eval</span> <span>export</span> <span>extends</span> <span>false</span> <span>final</span> <span>finally</span> <span>float</span> <span>for</span> <span>function</span> <span>goto</span> <span>if</span> <span>implements</span> <span>import</span> <span>in</span> <span>instanceof</span> <span>int</span> <span>interface</span> <span>let</span> <span>long</span> <span>native</span> <span>new</span> <span>null</span> <span>package</span> <span>private</span> <span>protected</span> <span>public</span> <span>return</span> <span>short</span> <span>static</span> <span>super</span> <span>switch</span> <span>synchronized</span> <span>this</span> <span>throw</span> <span>throws</span> <span>transient</span> <span>true</span> <span>try</span> <span>typeof</span> <span>var</span> <span>void</span> <span>volatile</span> <span>while</span> <span>with</span> <span>yield</span>

      //- article
      //-   p <mark>Q</mark> What is the difference between an array and an NodeList?
      //-   .build
      //-     li Mutability
      //-     li Methods
      //-     li Live vs. Static

      //- QA
      article
        img(width="500" src="./images/sick-qr.png")
        h1 Q+EH
        h2.skew: a(href="https://pigeonhole.at/SICK" target="_blank") pigeonhole.at/SICK
      article
        h1 Thank You!
        p.sub 😘😘😘😘😘😘😘😘

