doctype html
html
  head
      title Syntax Live
      meta(charset='utf-8')
      script(src='./slides.js')
      link(rel="stylesheet", href="./prism.css")
      script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")
      link(href='./styles.styl'  rel='stylesheet' type='text/css')
      style.
        .grid { display: grid !important; grid-gap: 20px }
        .grid .item { color: black; }
        style { display: inline-grid !important; }
  body
    section.slides.layout-regular.template-default

      article.first
        img(src="https://syntax.fm/static/logo.png")
        p.sub Live & In Person
      article
        h1: mark Hasty Treats™
        p.sub Mondays
      article
        h1: mark Tasty Treats™
        p.sub Wednesdays
      article
        h1: mark Hi, I&apos;m Scott Tolinkski
        p.sub Denver, Co 🇺🇸
        p.sub @stolinski Tweet and Gram
      article
        h1: mark Hi, I&apos;m<br>Wes Bos
        p.sub Hamilton, On 🇨🇦
        p.sub @wesbos Tweet and Gram
      article
        h1 Today is a Live Podcast!
      article
        h1 The Plan For Today
      article
        ul.build
          li Who is snackin' on React?
          li Hook'd on Hoooks
          li Game: This, That or Both?
          li Tag Team Coding Challenge
          li Stump’d Interview Questions
          li Unpopular Opinions
          li Q + EH with Scott and Wes

      article
        img(src="./images/qr.png")
        h1.medium Who is snackin' on React?
        h1.medium.white PigeonHole.at/TASTY

      article
        h1 Hook'd on Hooks
        p.sub Some Hot Tips for working with hooks

      article
        img.high(src="./images/useLocalStorage.png")
      article
        img.wide(src="./images/useSocket.png")
      article
        img.high(src="./images/useClickOutside.png")
      article
        img.high(src="./images/useKeyPress.png")
      article
        img.high(src="./images/useKeyPress2.png")
      article
        img.wide(src="./images/useMeasure.png")
      article
        h1 This, That, or Both?
        img(src="./images/qr.png")
        h1.medium.white PigeonHole.at/TASTY

      article
        h2 <mark>We</mark><br>give you the name of a possible web development library or framework
        br
        h2 <mark>You</mark><br>vote on if we are pulling your leg or not.
        h2.medium.white PigeonHole.at/TASTY

      article(style="background: url(https://foodsided.com/wp-content/blogs.dir/306/files/2017/07/89802E48-E3CD-4495-B7FF-F4B9DBCE731C-e1535044029703.jpeg); background-size:cover;")
        h1: mark TAG TEAM CODING
      article
        h2 Make a React Application that:
        ul.build
          li Pulls a dad joke from icanhazdadjoke.com
          li Displays the joke on the page
          li Has a button to fetch a new joke
          li Uses Hooks + State
      article
        h2 5 Minutes
        p 30 seconds per shift
        p THEN SWITCH

      //- article
        h3(style="position: absolute;bottom: 0px; right:0; line-height: 20px; padding: 20px; color: white; background: black; font-size: 40px;" ) PigeonHole.at/TASTY
        iframe(src="https://pigeonhole.at/p/171294")
      article
        h1 STUMP'D
        p.sub Answer a question, get a prize!

      article
        h1: mark Q #1
      article
        h1 What is a react PureComponent for?
      article
        h1: mark Q #2
      article
        h1 Why might you use a callback with setState?
      article
        h1: mark Q #3
      article
        h1 How would you reverse an array without mutating the original array?
      article
        h1: mark Q #4
      article
        h1 Can you please explain what a downtown job is?
      article
        h1: mark Q #5
      article
        h1 When would you use useReducer?
      article
        h1: mark Q #6
      article
        h1 What makes useLayoutEffect different from useEffect?
      article
        h1: mark Q #7
      article
        h1 What propType would you use for an object that contains a number and a string

      article
        h1 Unpopular <br>Opinions
      - const ids = ['1109461037391187968','1109464690424344578', '1109513902721634304','1109795487320805376','1109562582409596929','1109481482421067776','1109504427562545153','1109465342215114752','1109581621680730113','1109461529055756288']

      for id in ids
        article
          blockquote(class="twitter-tweet" data-conversation="none" data-lang="en")
            | TWeet Loading.. .<a href="https://twitter.com/thisdoesntmatter/status/#{id}"></a>


      //- QA
      article
        h1 Q+EH with Scott and Wes
      article
        h1 Thank You!
        p.sub 😘😘😘😘😘😘😘😘

