doctype html
html
  head
      title Syntax Live
      meta(charset='utf-8')
      script(src='slides.js')
      //- link(rel="stylesheet", href="./grid-styles.css")
      link(rel="stylesheet", href="./prism.css")

      link(href='styles.css'  rel='stylesheet' type='text/css')
      style.
        .grid { display: grid !important; grid-gap: 20px }
        .grid .item { color: black; }
        style { display: inline-grid !important; }
    body
      section.slides.layout-regular.template-default

        article.first
          img(src="https://syntax.fm/static/logo.png")
          p.sub Live & In Person
        article
          h1: mark Hasty Treats™
          p.sub Mondays
        article
          h1: mark Tasty Treats™
          p.sub Wednesdays
        article
          h1: mark Hi, I&apos;m Scott Tolinkski
          p.sub Denver, Co 🇺🇸
          p.sub @stolinski Tweet and Gram
        article
          h1: mark Hi, I&apos;m<br>Wes Bos
          p.sub Hamilton, On 🇨🇦
          p.sub @wesbos Tweet and Gram

        article
          h1 Goof Around for 1 hour

        article
          h1 Spicy JAM Tips

        article
          h1 This, That or Both?
        article
          h1 We need you to vote
          h1 PigeonHole.at/TASTY

        article
          iframe(src="https://pigeonhole.at/p/171294")
        article
          h1 STUMP'D
          p.sub Answer a question, get a prize!
        article
          h1 Underrated <br>or<br>Overrated?

