doctype html
html
  head
      title Syntax Live
      meta(charset='utf-8')
      script(src='./slides.js')
      link(rel="stylesheet", href="./prism.css")
      //- script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")
      link(href='./styles.styl'  rel='stylesheet' type='text/css')
      style.
        .grid { display: grid !important; grid-gap: 20px }
        .grid .item { color: black; }
        style { display: inline-grid !important; }
  body
    section.slides.layout-regular.template-default

      article.first
        img(src="https://syntax.fm/static/logo.png")
        p.sub Live &amp; <strike>In Person</strike> online!
      article
        h1: mark Hasty Treats™
        p.sub Mondays
      article
        h1: mark Tasty Treats™
        p.sub Wednesdays
      article
        h1: mark Hi, I&apos;m Scott Tolinkski
        p.sub Denver, Co 🇺🇸
        p.sub @stolinski Tweet and Gram
      article
        h1: mark Hi, I&apos;m<br>Wes Bos
        p.sub Hamilton, On 🇨🇦
        p.sub @wesbos Tweet, Fleet and Gram
      article
        h1 Today is a Live Podcast!
      article
        h1 The Plan For Today
      article
        ul.build
          li All I want for Christmas in React is...
          li JS or Nay-S?
          li Overrated vs Underrated
          li Syntax Error
          li JavaScript Hot Take Tweets
          li Q + EH with Scott and Wes

      article
        img(src="./images/qr.png")
        h1 Q+EH - Coming up!
        h2.skew: a(href="https://pigeonhole.at/TASTY" target="_blank") pigeonhole.at/TASTY

      article
        //- img(src="./images/qr.png")
        h1.medium All I want for Christmas in React is...

      article
        h1.medium Suspense for data fetching
      article
        h1.medium mount/unmount animations
      article
        h1.medium single file components
      article
        h1.medium preventDefault shortcut
      article
        h1.medium form input to state mapping

      article
        h1 JS or NAYS
        img(src="./images/qr.png")
        h1.medium.white PigeonHole.at/TASTY

      article
        h2 <mark>We</mark><br>give you the name of a possible web development library or framework
        br
        h2 <mark>You</mark><br>vote on if we are pulling your leg or not.
        h2.medium.white PigeonHole.at/TASTY

      //- article
        h3(style="position: absolute;bottom: 0px; right:0; line-height: 20px; padding: 20px; color: white; background: black; font-size: 40px;" ) PigeonHole.at/TASTY
        iframe(src="https://pigeonhole.at/p/171294")

      article
        h2 Overrated or Underrated?
        p Should you pay attention to these things?
      article
        h1 Deno
      article
        h1 ESM import from URL (no npm)
      article
        h1 Remix.run
      article
        h1 xstate
      article
        h1 No Code
      article
        h1 Render Props (were they)
      article
        h1 WASM
      article
        h1 Lighthouse Scores
      article
        h1 Syntax Error
        p We show eachother code with no syntax highlighting, and the other person must find out what is wrong with it.

      article
        h3 For Scott:
        pre.
          const people = [
            { name: 'wes bos', age: 32 },
            { name: 'scott tolinski', age: 34 }
          ];

          const names = people.map(({
              name,
              parts = name.split(' '),
              first = parts[0],
              last = parts[1] }) => { first, last }));

      article
        h3 For Scott:
        img.wide(src="https://wes.io/rRu0oWqv/content")
      article
        h3 For Scott:
        pre.
          console.log(`What a year ${new Date() .getFullYear()} was!`})
      article
        h1 Hot Take Tweets
      - const ids = ['1336370113247928327', '1336367986358140933', '1336368152461111301', '1336371300705689600', '1336371273316839427','1336368213081395200', '1336378139388358659', '1336370630183301120', '1336367982109466632', '1336373799437135872','1336386486179160066', '1336383808359321603', '1336383665610305544', '1336383932854624257', '1336371300705689600', '1336368415817273345', '1336390456473767936']

      for id in ids
        article
          h2 Loading tweet
          iframe(src=`https://platform.twitter.com/embed/index.html?dnt=true&embedId=twitter-widget-0&frame=false&hideCard=false&hideThread=true&id=${id}&lang=en&origin=http%3A%2F%2Flocalhost%3A1234%2F%2322&theme=light&widgetsVersion=ed20a2b%3A1601588405575&width=550px`)

          //- blockquote(class="twitter-tweet" data-conversation="none" data-lang="en")
          //-   | Tweet Loading.. .<a href="https://twitter.com/thisdoesntmatter/status/#{id}"></a>

      //- QA
      article
        img(src="./images/qr.png")
        h1 Q+EH
        h2.skew: a(href="https://pigeonhole.at/TASTY" target="_blank") pigeonhole.at/TASTY
      article
        h1 Thank You!
        p.sub 😘😘😘😘😘😘😘😘

